<!-- 
<nav class="pushy pushy-left">
        <ul class="list-unstyled">
            <li><a href="#home">Home</a></li>
            <li><a href="#feat">Features</a></li>
            <li><a href="#about">About me</a></li>
            <li><a href="#news">My Blog</a></li>
            <li><a href="#history">My History</a></li>
            <li><a href="#photos">Look my Photos</a></li>
            <li><a href="#contact">Get in Touch!</a></li>
            <li><a href="http://www.themeinthebox.com/ourtheme/mountain-king-bootstrap-template/" target="_blank">Download</a></li>
        </ul>
      </nav>
 -->
      <!-- Site Overlay -->
      <div class="site-overlay"></div>

        <!--  -->
        <!-- <section id="banner">
             
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 opaline col-md-offset-6">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                                      <div>
                                        <md-input-container>
                                          <label>Username</label>
                                          <input ng-model="user.username">
                                        </md-input-container>

                                        <md-input-container>
                                          <label>Password</label>
                                          <input ng-model="user.password" type="password">
                                        </md-input-container>
                                      </div>
                                    </md-content>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </section>

        <section id="feat">
            <div class="container">
                <div class="row features">
                 <div flex-xs flex-gt-xs = "30" layout="column">
                      <md-card>
                        <img ng-src="http://www.angielucas.com/.a/6a0111688344f8970c011571fe9e8a970b-pi" class="crop" alt="">
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">Thomas, 7</span>
                            </md-card-title-text>
                          </md-card-title>

                          <md-card-content>
                            South Hadley, Massachusetts
                            </p>
                          </md-card-content>

                          <md-card-actions layout="column" layout-align="end center">
                            <md-button>Read more</md-button>
                          </md-card-actions>
                      </md-card>
                      
                    </div>
                    </div>
                </div>
            </div>
        </section> -->


        <section id="about" class="number wow fadeInUp" >
            <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 opaline col-md-offset-6">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <center><h3>The Gift of Giving</h3>
                                    <h5>Buy Presents for Children in Need</h5>
                                    <p>Browse through children and see their wishlists. Sort them by interests or location.</p>
                                    <p>Decide which presents to purchase and buy them through Amazon.com. The presents will be shipped prompty. You'll feel good because you put a smile on a child's face!</p></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="news" class="blog wow fadeInUp" data-wow-delay="100ms">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Our mission</h2>
                        <p>We want every child to have access to things that help them grow and learn. Each child should be able to have as many books as they want to read, or as many science kits as they want to explore, or be able to own a scooter or bike to develop into strong, smart, and healthy people. </p>
                        <p>Unfortunately, not all families can afford to give their children those toys. Through WishList, you can browse through profiles of children who have been nominated to be on the site, and buy them the gifts that help them grow and learn. </p>
                        <a class="btn btn-danger btn-lg" href="#">Log in or Sign up to Start<i class="fa fa-arrow-circle-o-right"></i> </a>
                    </div>
                    <div class="col-md-5">
                        <a href="#">
                            <img src="images/boywithtoy.jpg" alt="" class="sidePanel">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="history" class="story wow fadeInUp" data-wow-delay="200ms">
            <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 opaline">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <p><i>We make a living by what we get. We make a life by what we give.</i></p>
                                    <h6 class="lead"> – Winston Churchill</h6><br>
                                    <p><i>But I give best when I give from that deeper place; when I give simply, freely and generously, and sometimes for no particular reason. I give best when I give from my heart.</i></p>
                                    <h6 class="lead-right"> – Steve Goodier</h6><br>
                                    <p><i>The most truly generous persons are those who give silently without hope of praise or reward</i></p>
                                    <h6 class="lead"> – Carol Ryrie Brink</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section id="contact" class="prefooter wow fadeInUp" data-wow-delay="200ms">
            <!-- change the image in style.css to the class .prefooter .container-fluid [approximately row 154] -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Sometimes it's nice to receive.</h3>
                            <p>Sign up to receive email newsletters from us</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Your Email Here...">
                                    <button type="button" class="btn btn-danger">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Wishlist</h3>
                        <p>© 2016 GTG HackHolyoke. Site Designed and Modified from <a target="_blank" href="http://www.themeinthebox.com">ThemeintheBox.com</a></p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-right social"><i class="typcn typcn-social-facebook-circular"></i><i class="typcn typcn-social-twitter-circular"></i><i class="typcn typcn-social-tumbler-circular"></i><i class="typcn typcn-social-github-circular"></i><i class="typcn typcn-social-dribbble-circular"></i></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-scrollspy.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
        <script src="assets/js/masonry.js"></script>
        <script src="assets/js/pushy.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script src="assets/js/odometer.js"></script>
