html,
body {
  height: 100%;
  width: 100%;
}
#bodyContainer {
  height: 100%;
  width: 100%;
  padding-top: 65px;
}
header #topBar {
  height: 55px;
  background-color: #123456;
}
header #topBar #superLoginContainer {
  position: fixed;
  top: 10px;
  right: 10px;
}
header #topBar #superLoginContainer #signup.clicked {
  background-color: #2e4a65;
}
header #topBar #superLoginContainer #login.clicked {
  background-color: #2e4a65;
}
header #topBar #superLoginContainer #dropdownForm {
  margin-top: -6px;
  background-color: #2e4a65;
  width: 100%;
}
header #topBar #superLoginContainer #dropdownForm md-input-container {
  margin-bottom: 0;
}
.importantFixedDiv {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
/* Override default hover behaviour */
}
.importantFixedDiv .importantFixedButton {
  background-color: #ea6e10;
}
.importantFixedDiv .importantFixedButton:hover {
  background-color: #f28a3b;
}
#userInfoEditDiv {
  padding: 20px;
}
#userInfoEditDiv .editCard {
  padding: 20px;
}
#userInfoEditDiv .editCard #nonMapDiv {
  padding-right: 20px;
}
/* Overridde the margins and whatnot of the address entry input */
#addressEditContainer {
  margin-bottom: 0px;
}
#addressEdit {
  margin-bottom: -24px;
}
#addressEdit.ng-invalid {
  margin-bottom: 0px;
}
/* Override the autocomplete addition of a placeholder */
#addressEdit::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#addressEdit::-moz-placeholder {
/* Firefox 19+ */
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#addressEdit:-ms-input-placeholder {
/* IE 10+ */
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#addressEdit:-moz-placeholder {
/* Firefox 18- */
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#profilePhotoEdit {
/* Height of md-display-3 */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 10%;
  cursor: pointer;
}
