
<ng-map center="{{user.address.lat}}, {{user.address.lng}}" zoom="7">
		  <shape id="circle" name="circle" centered="true" 
		        center="{{user.address.lat}}, {{user.address.lng}}"
		        stroke-color='#FF0000' stroke-opacity="0.8" stroke-weight="2" 
		        radius="10000" editable="false" ></shape>
		</ng-map>

<div class="importantFixedDiv">
  <md-button class="importantFixedButton" ng-if="checkOwnership()" ng-click="editUser()">
    <md-icon class="material-icons"> edit </md-icon> Edit
  </md-button>
</div>

<div id="box" style="margin:5px auto; left-padding:10px">

	<div id="col1" style="float:left;
			left-padding:20px;
			top-margin: -10px;
			width:40%;">
		<h1><span><center> {{user.fullName}} </center></span> </h1> 
		<p><center><img src="images/childtoy.jpg" style="height:250px; width: 300px;"></center></p>
		<p><h4><span><center><style="padding: 100px;"> {{user.description}} </style></center></span><h4></p>
		
	</div>
	<div id="col2" style="float:right; top-margin: -10px; width:50%; ">
		<p><h1><center>Wishlist</center></h1></p>
		<p><center><img src="https://images-na.ssl-images-amazon.com/images/I/81Et22AcyXL._SL1500_.jpg" style="height:250px; width: 250px;"></center></p>
		<p><h4>Gift title: Battleship Game</h4><h4>Amazon gift ID#: B00C0ULS3G</h4><h4> Price: $11.39</h4></p>
		<p><h4><center><md-button>Donate this gift</md-button></center></h4></p>
		
	</div>
</div>
