<md-toolbar id="topBar" layout="row" layout-align="space-between center" 
            class="md-whiteframe-z2" 
            style="padding:0px; margin-bottom:0px; position:fixed; top: 0px">
  <div id="name" ng-click="routeToIndex()">
    APPNAME
  </div>
  <div>
    <div ng-if="!session.user.username" id="loginContainer">
      <md-button> login </md-button>
      <md-button> sign-up </md-button>
    </div>
    <div ng-if="session.user.username" id="loginContainer">
      {{session.user.username}}
    </div>
  </div>
</md-toolbar>
